/* Initial CSS Set Up */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* set rem size to 10px */
	font-size: 62.5%;
}

body {
	color: hsl(0, 0%, 100%);
	font-family: "Rubik", sans-serif;
	height: 100vh;
	background-color: #0e1323;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

main {
	max-width: 111rem;
}

h1 {
	font-size: 4rem;
	font-weight: 300;
	line-height: 1.2;
}

h2 {
	font-size: 1.8rem;
}

ul {
	list-style: none;
}

.grid {
	display: grid;
	gap: 3rem;
}

.grid-col--4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.rows--2 {
	grid-row: 1 / -1;
}

.personal-details {
	display: flex;
	flex-direction: column;
	gap: 4.3rem;
	padding: 3.7rem 8.4rem 8rem 3.2rem;
	background-color: #5747ea;
	border-radius: 15px;
}
.img-avatar {
	height: 7.8rem;
	width: 7.8rem;
	border-radius: 50%;
	box-shadow: 0 0 0 3.5px #fff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.heading-primary--prefix {
	display: block;
	color: #bbc0ff;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.1;
}
.duration-filter ul {
	display: flex;
	flex-direction: column;

	gap: 2.1rem;
	padding: 2.6rem 3.2rem;
}
.filter-link:link,
.filter-link:visited {
	color: #7078c9;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.2;
	text-decoration: none;
}

a.filter-link--active:link,
a.filter-link--active:visited,
.filter-link:active,
.filter-link:hover {
	color: #fff;
}

.tile,
.tile-heading {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border: none;

	position: relative;
	border-radius: 15px;
	background-color: #1c204b;
}

.color-banner {
	height: 10rem;
}

.tile-icon {
	position: absolute;
	top: -0.8rem;
	right: 1.7rem;
	height: 7.6rem;
	width: 7.6rem;
}
.tile-content {
	position: absolute;
	background-color: #1c204b;
	border-radius: 15px;
	padding: 2.8rem;
	width: 100%;
	height: 100%;
	top: 4.5rem;
}

.tile-content:hover {
	background-color: #33397a;
}

.tile-header {
	display: flex;
	justify-content: space-between;

	font-size: 1.8rem;
	font-weight: 500;
}

.icon-elips:hover,
.icon-elips:active {
	filter: sepia(100%) grayscale(100%) brightness(100);
}

.bg-orange {
	background-color: #ff8b64;
}
.bg-blue {
	background-color: #55c2e6;
}
.bg-pink {
	background-color: #ff5e7d;
}
.bg-green {
	background-color: #4bcf82;
}
.bg-purple {
	background-color: #7335d2;
}
.bg-yellow {
	background-color: #f1c75b;
}

.task-duration {
	font-size: 5.6rem;
	margin: 2.4rem 0 0.8rem;
}
.duration-numeric {
	font-weight: 300;
}
.duration-units {
	font-weight: 300;
}
.weak {
	color: #bbc0ff;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.2;
}

.hidden {
	display: none;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (max-width: 72em) {
	main {
		max-width: 32.7rem;
	}

	.container {
		padding-top: 8.1rem;
		padding-bottom: 8.1rem;
		height: unset;
	}

	.grid {
		gap: 0rem;
	}

	.grid-col--4 {
		grid-template-columns: 1fr;
		grid-template-rows: 20fr 16fr 16fr 16fr 16fr 16fr 16fr;
	}

	.rows--2 {
		grid-row: 1 / 1;
	}
	.personal-details {
		display: flex;
		flex-direction: row;
		align-items: center;

		gap: 2rem;
		padding: 3.5rem 3.9rem 3.4rem 3.2rem;
	}
	.img-avatar {
		height: 6.4rem;
		width: 6.4rem;
	}

	h1 {
		font-size: 2.4rem;
		font-weight: 300;
		line-height: 2.8rem;
	}

	.duration-filter ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.tile {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		border: none;

		position: relative;
		border-radius: 15px;
		background-color: unset;
	}

	.tile-heading {
		margin-bottom: 2.4rem;
	}

	.tile-content {
		height: 12.2rem;
	}

	.task-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0.6rem 0 0.8rem;
	}

	.task-duration {
		font-size: 3.2rem;
		font-weight: 300;
		margin: unset;
	}
	.duration-numeric {
		font-weight: 300;
	}
}
